body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1c7fd1;
    background-image: url('bg-zapeador.jpg');
    background-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    margin-top: 15px;
}
#pnumber{
    margin-top: 0;
    margin-bottom: 0;
    height: 45px;
    width: 200px;
    text-align: center;
    font-size: 18pt;
    color: rgb(54, 54, 54);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    border: solid 0px #000000;
}
button{
    border: 1px solid #ffffff;
    cursor: pointer;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
}
.options{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    row-gap: 20px;
    color: white;
    width: 300px;
    height: 300px;
    background-color: #003800;
    padding: 20px;
    border-radius: 20px;
    font-size: 16pt;
}
.container-send{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 0px;
    width: 300px;
    height: 430px;
    box-shadow: 1px 0px 6px;
    border-radius: 10px;
    background-color: #003800;
    color: white;
}
.title{
    text-align: center;
    margin-bottom: 10px;
}
.btnSend{
    width: 160px;
    height: 50px;
    font-size: 14pt;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    margin-top: 7px;
}
.btnSend:hover{
    background-color: yellow;
    color: #000000;
    font-size: 14pt;
}
.hint{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16pt;
}
#btn-opt{
    width: 180px;
    height: 50px;
    color: #ffffff;
    font-size: 18px;
    background-color: darkgreen;
    border-radius: 30px ;
}
#btn-opt:hover{
    background-color: greenyellow;
    transition: 0.5;
    color: #000000;
    font-size: 18px;
}
.btn-sw{
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    width: 300px;
    height: 30px;
    font-size: 16px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
}
.btn-sw:hover{
    background-color: #000;
    color: #fff;
}