div.border{
    border: solid 0px;
    margin-top: 15px;
    width: 300px;
    height: 430px;
    box-shadow: 1px 0px 6px;
    border-radius: 10px;
    background-color: #003800;
    color: white;
    margin-top: 50px;
}
p#title{
    font-size: 18pt;
}
div#link{
    margin-top: 20px;
    margin-bottom: 10px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    margin-top: -15px;
    background-color: #1c7fd1;
    background-image: url('/bg-zapeador.jpg');
}
input#pnumber{
    margin-top: 10px;
    margin-bottom: 5px;
    height: 45px;
    width: 222px;
    text-align: center;
    font-size: 18pt;
    color: rgb(54, 54, 54);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    border: solid 0px #000000;
}
button{
    height: 50px;
    width: 160px;
    color: rgb(255, 255, 255);
    border: 1px solid #ffffff;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 30px;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    align-items: center;
    color: white;
    width: 300px;
    height: 300px;
    background-color: #003800;
    padding: 20px;
    align-content: center;
    border-radius: 20px;
}

.btn-sw{
    margin-top: 20px;
    background-color: rgba(90, 90, 90, 0);
    color: rgb(255, 255, 255);
    width: 150px;
    height: 20px;
    padding-top: 7px;
    font-size: 11px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
}

.sw1:link{
    text-decoration: none;
}
.sw1:visited{
    color: rgb(0, 0, 0);
}
.sw1:hover{
    color: rgb(9, 4, 250);
    border-radius: 20px;
}

a.sw2:link{
    text-decoration: none;
    color: white;
}
a.sw2:visited{
    color: rgb(0, 0, 0);
}
a.sw2:hover{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.hint{
    color: #ffffff;
    margin-top: 40px;
}